:root {
    --progress_bar_width: 90px;
    /* default 150px */
    --progress_bar_outer_width: 88px;
    /* default 148px */
    --progress_bar_inner_width: 70px;
    /* default 115px */
    --display-poem-width: 400px;
}

/* ----- Reset Button ----- */
.reset-btn-meter-container,
.timer-btn-meter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: var(--progress_bar_width);
}

.reset-btn-meter-container {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
}

.timer-btn-meter-container {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%, -50%);
}


.progress-bar-outer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: var(--progress_bar_outer_width);
    height: var(--progress_bar_outer_width);
    align-items: center;
    background-image: url(./../images/truncated.jpg);
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
}

.progress-bar {
    position: relative;
    width: var(--progress_bar_width);
    height: var(--progress_bar_width);
    margin: 0.5rem;
    
    overflow: hidden;
    background-image: conic-gradient(#DDE6ED 0, #ffffff00 0);
    animation-fill-mode: forwards;
}

.progress-bar-reset-btn {
    animation: fillProgress 10s linear 1;
    right: 0px;
}

.progress-bar-submit-btn {
    animation: fillProgress 4s linear 1;
}

.progress-bar .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--progress_bar_inner_width);
    height: var(--progress_bar_inner_width);
    background: white;
    font-size: 1.85em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
}

#submit-container {
    display: inline;
}

#inner-btn-reset,
#submit-btn {
    font-size: 1.2em;
    /* display: none; */
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
}

@media only screen and (max-width: 1200px) {
    .timer-btn-meter-container {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -85%);
    }
}

@media only screen and (max-width: 767px) {
    .reset-btn-meter-container {
        position: static;
        transform: translate(0, 0);
        align-items: flex-start;
        width: 100%;
    }

    .progress-bar-reset-btn {
        right: 9px;
    }

    #inner-btn-reset,
    #submit-btn {
        font-size: 0.8em;
    }

    :root {
        --progress_bar_width: 60px;
        /* default 150px */
        --progress_bar_outer_width: 58px;
        /* default 148px */
        --progress_bar_inner_width: 45px;
        /* default 115px */
    }
}

@media only screen and (max-width: 545px) {

    #inner-btn-reset,
    #submit-btn {
        font-size: 0.6em;
        font-weight: 600;
    }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
    :root {
        --progress_bar_width: 60px;
        /* default 150px */
        --progress_bar_outer_width: 58px;
        /* default 148px */
        --progress_bar_inner_width: 45px;
        /* default 115px */
    }

    #inner-btn-reset,
    #submit-btn {
        font-size: 0.6em;
        font-weight: 600;
    }
}

/* iPhone X landscape mode */
@media only screen and (max-height: 375px) and (orientation: landscape) {

    /* makes sure the timer button is positioned properly */
    .timer-btn-meter-container {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -90%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fillProgress {
    0.0%{ 
    background-image: conic-gradient(#ffffff00 0.0%, #fff 0);
    }
    0.25%{ 
    background-image: conic-gradient(#ffffff00 0.25%, #fff 0);
    }
    0.5%{ 
    background-image: conic-gradient(#ffffff00 0.5%, #fff 0);
    }
    0.75%{ 
    background-image: conic-gradient(#ffffff00 0.75%, #fff 0);
    }
    1.0%{ 
    background-image: conic-gradient(#ffffff00 1.0%, #fff 0);
    }
    1.25%{ 
    background-image: conic-gradient(#ffffff00 1.25%, #fff 0);
    }
    1.5%{ 
    background-image: conic-gradient(#ffffff00 1.5%, #fff 0);
    }
    1.75%{ 
    background-image: conic-gradient(#ffffff00 1.75%, #fff 0);
    }
    2.0%{ 
    background-image: conic-gradient(#ffffff00 2.0%, #fff 0);
    }
    2.25%{ 
    background-image: conic-gradient(#ffffff00 2.25%, #fff 0);
    }
    2.5%{ 
    background-image: conic-gradient(#ffffff00 2.5%, #fff 0);
    }
    2.75%{ 
    background-image: conic-gradient(#ffffff00 2.75%, #fff 0);
    }
    3.0%{ 
    background-image: conic-gradient(#ffffff00 3.0%, #fff 0);
    }
    3.25%{ 
    background-image: conic-gradient(#ffffff00 3.25%, #fff 0);
    }
    3.5%{ 
    background-image: conic-gradient(#ffffff00 3.5%, #fff 0);
    }
    3.75%{ 
    background-image: conic-gradient(#ffffff00 3.75%, #fff 0);
    }
    4.0%{ 
    background-image: conic-gradient(#ffffff00 4.0%, #fff 0);
    }
    4.25%{ 
    background-image: conic-gradient(#ffffff00 4.25%, #fff 0);
    }
    4.5%{ 
    background-image: conic-gradient(#ffffff00 4.5%, #fff 0);
    }
    4.75%{ 
    background-image: conic-gradient(#ffffff00 4.75%, #fff 0);
    }
    5.0%{ 
    background-image: conic-gradient(#ffffff00 5.0%, #fff 0);
    }
    5.25%{ 
    background-image: conic-gradient(#ffffff00 5.25%, #fff 0);
    }
    5.5%{ 
    background-image: conic-gradient(#ffffff00 5.5%, #fff 0);
    }
    5.75%{ 
    background-image: conic-gradient(#ffffff00 5.75%, #fff 0);
    }
    6.0%{ 
    background-image: conic-gradient(#ffffff00 6.0%, #fff 0);
    }
    6.25%{ 
    background-image: conic-gradient(#ffffff00 6.25%, #fff 0);
    }
    6.5%{ 
    background-image: conic-gradient(#ffffff00 6.5%, #fff 0);
    }
    6.75%{ 
    background-image: conic-gradient(#ffffff00 6.75%, #fff 0);
    }
    7.0%{ 
    background-image: conic-gradient(#ffffff00 7.0%, #fff 0);
    }
    7.25%{ 
    background-image: conic-gradient(#ffffff00 7.25%, #fff 0);
    }
    7.5%{ 
    background-image: conic-gradient(#ffffff00 7.5%, #fff 0);
    }
    7.75%{ 
    background-image: conic-gradient(#ffffff00 7.75%, #fff 0);
    }
    8.0%{ 
    background-image: conic-gradient(#ffffff00 8.0%, #fff 0);
    }
    8.25%{ 
    background-image: conic-gradient(#ffffff00 8.25%, #fff 0);
    }
    8.5%{ 
    background-image: conic-gradient(#ffffff00 8.5%, #fff 0);
    }
    8.75%{ 
    background-image: conic-gradient(#ffffff00 8.75%, #fff 0);
    }
    9.0%{ 
    background-image: conic-gradient(#ffffff00 9.0%, #fff 0);
    }
    9.25%{ 
    background-image: conic-gradient(#ffffff00 9.25%, #fff 0);
    }
    9.5%{ 
    background-image: conic-gradient(#ffffff00 9.5%, #fff 0);
    }
    9.75%{ 
    background-image: conic-gradient(#ffffff00 9.75%, #fff 0);
    }
    10.0%{ 
    background-image: conic-gradient(#ffffff00 10.0%, #fff 0);
    }
    10.25%{ 
    background-image: conic-gradient(#ffffff00 10.25%, #fff 0);
    }
    10.5%{ 
    background-image: conic-gradient(#ffffff00 10.5%, #fff 0);
    }
    10.75%{ 
    background-image: conic-gradient(#ffffff00 10.75%, #fff 0);
    }
    11.0%{ 
    background-image: conic-gradient(#ffffff00 11.0%, #fff 0);
    }
    11.25%{ 
    background-image: conic-gradient(#ffffff00 11.25%, #fff 0);
    }
    11.5%{ 
    background-image: conic-gradient(#ffffff00 11.5%, #fff 0);
    }
    11.75%{ 
    background-image: conic-gradient(#ffffff00 11.75%, #fff 0);
    }
    12.0%{ 
    background-image: conic-gradient(#ffffff00 12.0%, #fff 0);
    }
    12.25%{ 
    background-image: conic-gradient(#ffffff00 12.25%, #fff 0);
    }
    12.5%{ 
    background-image: conic-gradient(#ffffff00 12.5%, #fff 0);
    }
    12.75%{ 
    background-image: conic-gradient(#ffffff00 12.75%, #fff 0);
    }
    13.0%{ 
    background-image: conic-gradient(#ffffff00 13.0%, #fff 0);
    }
    13.25%{ 
    background-image: conic-gradient(#ffffff00 13.25%, #fff 0);
    }
    13.5%{ 
    background-image: conic-gradient(#ffffff00 13.5%, #fff 0);
    }
    13.75%{ 
    background-image: conic-gradient(#ffffff00 13.75%, #fff 0);
    }
    14.0%{ 
    background-image: conic-gradient(#ffffff00 14.0%, #fff 0);
    }
    14.25%{ 
    background-image: conic-gradient(#ffffff00 14.25%, #fff 0);
    }
    14.5%{ 
    background-image: conic-gradient(#ffffff00 14.5%, #fff 0);
    }
    14.75%{ 
    background-image: conic-gradient(#ffffff00 14.75%, #fff 0);
    }
    15.0%{ 
    background-image: conic-gradient(#ffffff00 15.0%, #fff 0);
    }
    15.25%{ 
    background-image: conic-gradient(#ffffff00 15.25%, #fff 0);
    }
    15.5%{ 
    background-image: conic-gradient(#ffffff00 15.5%, #fff 0);
    }
    15.75%{ 
    background-image: conic-gradient(#ffffff00 15.75%, #fff 0);
    }
    16.0%{ 
    background-image: conic-gradient(#ffffff00 16.0%, #fff 0);
    }
    16.25%{ 
    background-image: conic-gradient(#ffffff00 16.25%, #fff 0);
    }
    16.5%{ 
    background-image: conic-gradient(#ffffff00 16.5%, #fff 0);
    }
    16.75%{ 
    background-image: conic-gradient(#ffffff00 16.75%, #fff 0);
    }
    17.0%{ 
    background-image: conic-gradient(#ffffff00 17.0%, #fff 0);
    }
    17.25%{ 
    background-image: conic-gradient(#ffffff00 17.25%, #fff 0);
    }
    17.5%{ 
    background-image: conic-gradient(#ffffff00 17.5%, #fff 0);
    }
    17.75%{ 
    background-image: conic-gradient(#ffffff00 17.75%, #fff 0);
    }
    18.0%{ 
    background-image: conic-gradient(#ffffff00 18.0%, #fff 0);
    }
    18.25%{ 
    background-image: conic-gradient(#ffffff00 18.25%, #fff 0);
    }
    18.5%{ 
    background-image: conic-gradient(#ffffff00 18.5%, #fff 0);
    }
    18.75%{ 
    background-image: conic-gradient(#ffffff00 18.75%, #fff 0);
    }
    19.0%{ 
    background-image: conic-gradient(#ffffff00 19.0%, #fff 0);
    }
    19.25%{ 
    background-image: conic-gradient(#ffffff00 19.25%, #fff 0);
    }
    19.5%{ 
    background-image: conic-gradient(#ffffff00 19.5%, #fff 0);
    }
    19.75%{ 
    background-image: conic-gradient(#ffffff00 19.75%, #fff 0);
    }
    20.0%{ 
    background-image: conic-gradient(#ffffff00 20.0%, #fff 0);
    }
    20.25%{ 
    background-image: conic-gradient(#ffffff00 20.25%, #fff 0);
    }
    20.5%{ 
    background-image: conic-gradient(#ffffff00 20.5%, #fff 0);
    }
    20.75%{ 
    background-image: conic-gradient(#ffffff00 20.75%, #fff 0);
    }
    21.0%{ 
    background-image: conic-gradient(#ffffff00 21.0%, #fff 0);
    }
    21.25%{ 
    background-image: conic-gradient(#ffffff00 21.25%, #fff 0);
    }
    21.5%{ 
    background-image: conic-gradient(#ffffff00 21.5%, #fff 0);
    }
    21.75%{ 
    background-image: conic-gradient(#ffffff00 21.75%, #fff 0);
    }
    22.0%{ 
    background-image: conic-gradient(#ffffff00 22.0%, #fff 0);
    }
    22.25%{ 
    background-image: conic-gradient(#ffffff00 22.25%, #fff 0);
    }
    22.5%{ 
    background-image: conic-gradient(#ffffff00 22.5%, #fff 0);
    }
    22.75%{ 
    background-image: conic-gradient(#ffffff00 22.75%, #fff 0);
    }
    23.0%{ 
    background-image: conic-gradient(#ffffff00 23.0%, #fff 0);
    }
    23.25%{ 
    background-image: conic-gradient(#ffffff00 23.25%, #fff 0);
    }
    23.5%{ 
    background-image: conic-gradient(#ffffff00 23.5%, #fff 0);
    }
    23.75%{ 
    background-image: conic-gradient(#ffffff00 23.75%, #fff 0);
    }
    24.0%{ 
    background-image: conic-gradient(#ffffff00 24.0%, #fff 0);
    }
    24.25%{ 
    background-image: conic-gradient(#ffffff00 24.25%, #fff 0);
    }
    24.5%{ 
    background-image: conic-gradient(#ffffff00 24.5%, #fff 0);
    }
    24.75%{ 
    background-image: conic-gradient(#ffffff00 24.75%, #fff 0);
    }
    25.0%{ 
    background-image: conic-gradient(#ffffff00 25.0%, #fff 0);
    }
    25.25%{ 
    background-image: conic-gradient(#ffffff00 25.25%, #fff 0);
    }
    25.5%{ 
    background-image: conic-gradient(#ffffff00 25.5%, #fff 0);
    }
    25.75%{ 
    background-image: conic-gradient(#ffffff00 25.75%, #fff 0);
    }
    26.0%{ 
    background-image: conic-gradient(#ffffff00 26.0%, #fff 0);
    }
    26.25%{ 
    background-image: conic-gradient(#ffffff00 26.25%, #fff 0);
    }
    26.5%{ 
    background-image: conic-gradient(#ffffff00 26.5%, #fff 0);
    }
    26.75%{ 
    background-image: conic-gradient(#ffffff00 26.75%, #fff 0);
    }
    27.0%{ 
    background-image: conic-gradient(#ffffff00 27.0%, #fff 0);
    }
    27.25%{ 
    background-image: conic-gradient(#ffffff00 27.25%, #fff 0);
    }
    27.5%{ 
    background-image: conic-gradient(#ffffff00 27.5%, #fff 0);
    }
    27.75%{ 
    background-image: conic-gradient(#ffffff00 27.75%, #fff 0);
    }
    28.0%{ 
    background-image: conic-gradient(#ffffff00 28.0%, #fff 0);
    }
    28.25%{ 
    background-image: conic-gradient(#ffffff00 28.25%, #fff 0);
    }
    28.5%{ 
    background-image: conic-gradient(#ffffff00 28.5%, #fff 0);
    }
    28.75%{ 
    background-image: conic-gradient(#ffffff00 28.75%, #fff 0);
    }
    29.0%{ 
    background-image: conic-gradient(#ffffff00 29.0%, #fff 0);
    }
    29.25%{ 
    background-image: conic-gradient(#ffffff00 29.25%, #fff 0);
    }
    29.5%{ 
    background-image: conic-gradient(#ffffff00 29.5%, #fff 0);
    }
    29.75%{ 
    background-image: conic-gradient(#ffffff00 29.75%, #fff 0);
    }
    30.0%{ 
    background-image: conic-gradient(#ffffff00 30.0%, #fff 0);
    }
    30.25%{ 
    background-image: conic-gradient(#ffffff00 30.25%, #fff 0);
    }
    30.5%{ 
    background-image: conic-gradient(#ffffff00 30.5%, #fff 0);
    }
    30.75%{ 
    background-image: conic-gradient(#ffffff00 30.75%, #fff 0);
    }
    31.0%{ 
    background-image: conic-gradient(#ffffff00 31.0%, #fff 0);
    }
    31.25%{ 
    background-image: conic-gradient(#ffffff00 31.25%, #fff 0);
    }
    31.5%{ 
    background-image: conic-gradient(#ffffff00 31.5%, #fff 0);
    }
    31.75%{ 
    background-image: conic-gradient(#ffffff00 31.75%, #fff 0);
    }
    32.0%{ 
    background-image: conic-gradient(#ffffff00 32.0%, #fff 0);
    }
    32.25%{ 
    background-image: conic-gradient(#ffffff00 32.25%, #fff 0);
    }
    32.5%{ 
    background-image: conic-gradient(#ffffff00 32.5%, #fff 0);
    }
    32.75%{ 
    background-image: conic-gradient(#ffffff00 32.75%, #fff 0);
    }
    33.0%{ 
    background-image: conic-gradient(#ffffff00 33.0%, #fff 0);
    }
    33.25%{ 
    background-image: conic-gradient(#ffffff00 33.25%, #fff 0);
    }
    33.5%{ 
    background-image: conic-gradient(#ffffff00 33.5%, #fff 0);
    }
    33.75%{ 
    background-image: conic-gradient(#ffffff00 33.75%, #fff 0);
    }
    34.0%{ 
    background-image: conic-gradient(#ffffff00 34.0%, #fff 0);
    }
    34.25%{ 
    background-image: conic-gradient(#ffffff00 34.25%, #fff 0);
    }
    34.5%{ 
    background-image: conic-gradient(#ffffff00 34.5%, #fff 0);
    }
    34.75%{ 
    background-image: conic-gradient(#ffffff00 34.75%, #fff 0);
    }
    35.0%{ 
    background-image: conic-gradient(#ffffff00 35.0%, #fff 0);
    }
    35.25%{ 
    background-image: conic-gradient(#ffffff00 35.25%, #fff 0);
    }
    35.5%{ 
    background-image: conic-gradient(#ffffff00 35.5%, #fff 0);
    }
    35.75%{ 
    background-image: conic-gradient(#ffffff00 35.75%, #fff 0);
    }
    36.0%{ 
    background-image: conic-gradient(#ffffff00 36.0%, #fff 0);
    }
    36.25%{ 
    background-image: conic-gradient(#ffffff00 36.25%, #fff 0);
    }
    36.5%{ 
    background-image: conic-gradient(#ffffff00 36.5%, #fff 0);
    }
    36.75%{ 
    background-image: conic-gradient(#ffffff00 36.75%, #fff 0);
    }
    37.0%{ 
    background-image: conic-gradient(#ffffff00 37.0%, #fff 0);
    }
    37.25%{ 
    background-image: conic-gradient(#ffffff00 37.25%, #fff 0);
    }
    37.5%{ 
    background-image: conic-gradient(#ffffff00 37.5%, #fff 0);
    }
    37.75%{ 
    background-image: conic-gradient(#ffffff00 37.75%, #fff 0);
    }
    38.0%{ 
    background-image: conic-gradient(#ffffff00 38.0%, #fff 0);
    }
    38.25%{ 
    background-image: conic-gradient(#ffffff00 38.25%, #fff 0);
    }
    38.5%{ 
    background-image: conic-gradient(#ffffff00 38.5%, #fff 0);
    }
    38.75%{ 
    background-image: conic-gradient(#ffffff00 38.75%, #fff 0);
    }
    39.0%{ 
    background-image: conic-gradient(#ffffff00 39.0%, #fff 0);
    }
    39.25%{ 
    background-image: conic-gradient(#ffffff00 39.25%, #fff 0);
    }
    39.5%{ 
    background-image: conic-gradient(#ffffff00 39.5%, #fff 0);
    }
    39.75%{ 
    background-image: conic-gradient(#ffffff00 39.75%, #fff 0);
    }
    40.0%{ 
    background-image: conic-gradient(#ffffff00 40.0%, #fff 0);
    }
    40.25%{ 
    background-image: conic-gradient(#ffffff00 40.25%, #fff 0);
    }
    40.5%{ 
    background-image: conic-gradient(#ffffff00 40.5%, #fff 0);
    }
    40.75%{ 
    background-image: conic-gradient(#ffffff00 40.75%, #fff 0);
    }
    41.0%{ 
    background-image: conic-gradient(#ffffff00 41.0%, #fff 0);
    }
    41.25%{ 
    background-image: conic-gradient(#ffffff00 41.25%, #fff 0);
    }
    41.5%{ 
    background-image: conic-gradient(#ffffff00 41.5%, #fff 0);
    }
    41.75%{ 
    background-image: conic-gradient(#ffffff00 41.75%, #fff 0);
    }
    42.0%{ 
    background-image: conic-gradient(#ffffff00 42.0%, #fff 0);
    }
    42.25%{ 
    background-image: conic-gradient(#ffffff00 42.25%, #fff 0);
    }
    42.5%{ 
    background-image: conic-gradient(#ffffff00 42.5%, #fff 0);
    }
    42.75%{ 
    background-image: conic-gradient(#ffffff00 42.75%, #fff 0);
    }
    43.0%{ 
    background-image: conic-gradient(#ffffff00 43.0%, #fff 0);
    }
    43.25%{ 
    background-image: conic-gradient(#ffffff00 43.25%, #fff 0);
    }
    43.5%{ 
    background-image: conic-gradient(#ffffff00 43.5%, #fff 0);
    }
    43.75%{ 
    background-image: conic-gradient(#ffffff00 43.75%, #fff 0);
    }
    44.0%{ 
    background-image: conic-gradient(#ffffff00 44.0%, #fff 0);
    }
    44.25%{ 
    background-image: conic-gradient(#ffffff00 44.25%, #fff 0);
    }
    44.5%{ 
    background-image: conic-gradient(#ffffff00 44.5%, #fff 0);
    }
    44.75%{ 
    background-image: conic-gradient(#ffffff00 44.75%, #fff 0);
    }
    45.0%{ 
    background-image: conic-gradient(#ffffff00 45.0%, #fff 0);
    }
    45.25%{ 
    background-image: conic-gradient(#ffffff00 45.25%, #fff 0);
    }
    45.5%{ 
    background-image: conic-gradient(#ffffff00 45.5%, #fff 0);
    }
    45.75%{ 
    background-image: conic-gradient(#ffffff00 45.75%, #fff 0);
    }
    46.0%{ 
    background-image: conic-gradient(#ffffff00 46.0%, #fff 0);
    }
    46.25%{ 
    background-image: conic-gradient(#ffffff00 46.25%, #fff 0);
    }
    46.5%{ 
    background-image: conic-gradient(#ffffff00 46.5%, #fff 0);
    }
    46.75%{ 
    background-image: conic-gradient(#ffffff00 46.75%, #fff 0);
    }
    47.0%{ 
    background-image: conic-gradient(#ffffff00 47.0%, #fff 0);
    }
    47.25%{ 
    background-image: conic-gradient(#ffffff00 47.25%, #fff 0);
    }
    47.5%{ 
    background-image: conic-gradient(#ffffff00 47.5%, #fff 0);
    }
    47.75%{ 
    background-image: conic-gradient(#ffffff00 47.75%, #fff 0);
    }
    48.0%{ 
    background-image: conic-gradient(#ffffff00 48.0%, #fff 0);
    }
    48.25%{ 
    background-image: conic-gradient(#ffffff00 48.25%, #fff 0);
    }
    48.5%{ 
    background-image: conic-gradient(#ffffff00 48.5%, #fff 0);
    }
    48.75%{ 
    background-image: conic-gradient(#ffffff00 48.75%, #fff 0);
    }
    49.0%{ 
    background-image: conic-gradient(#ffffff00 49.0%, #fff 0);
    }
    49.25%{ 
    background-image: conic-gradient(#ffffff00 49.25%, #fff 0);
    }
    49.5%{ 
    background-image: conic-gradient(#ffffff00 49.5%, #fff 0);
    }
    49.75%{ 
    background-image: conic-gradient(#ffffff00 49.75%, #fff 0);
    }
    50.0%{ 
    background-image: conic-gradient(#ffffff00 50.0%, #fff 0);
    }
    50.25%{ 
    background-image: conic-gradient(#ffffff00 50.25%, #fff 0);
    }
    50.5%{ 
    background-image: conic-gradient(#ffffff00 50.5%, #fff 0);
    }
    50.75%{ 
    background-image: conic-gradient(#ffffff00 50.75%, #fff 0);
    }
    51.0%{ 
    background-image: conic-gradient(#ffffff00 51.0%, #fff 0);
    }
    51.25%{ 
    background-image: conic-gradient(#ffffff00 51.25%, #fff 0);
    }
    51.5%{ 
    background-image: conic-gradient(#ffffff00 51.5%, #fff 0);
    }
    51.75%{ 
    background-image: conic-gradient(#ffffff00 51.75%, #fff 0);
    }
    52.0%{ 
    background-image: conic-gradient(#ffffff00 52.0%, #fff 0);
    }
    52.25%{ 
    background-image: conic-gradient(#ffffff00 52.25%, #fff 0);
    }
    52.5%{ 
    background-image: conic-gradient(#ffffff00 52.5%, #fff 0);
    }
    52.75%{ 
    background-image: conic-gradient(#ffffff00 52.75%, #fff 0);
    }
    53.0%{ 
    background-image: conic-gradient(#ffffff00 53.0%, #fff 0);
    }
    53.25%{ 
    background-image: conic-gradient(#ffffff00 53.25%, #fff 0);
    }
    53.5%{ 
    background-image: conic-gradient(#ffffff00 53.5%, #fff 0);
    }
    53.75%{ 
    background-image: conic-gradient(#ffffff00 53.75%, #fff 0);
    }
    54.0%{ 
    background-image: conic-gradient(#ffffff00 54.0%, #fff 0);
    }
    54.25%{ 
    background-image: conic-gradient(#ffffff00 54.25%, #fff 0);
    }
    54.5%{ 
    background-image: conic-gradient(#ffffff00 54.5%, #fff 0);
    }
    54.75%{ 
    background-image: conic-gradient(#ffffff00 54.75%, #fff 0);
    }
    55.0%{ 
    background-image: conic-gradient(#ffffff00 55.0%, #fff 0);
    }
    55.25%{ 
    background-image: conic-gradient(#ffffff00 55.25%, #fff 0);
    }
    55.5%{ 
    background-image: conic-gradient(#ffffff00 55.5%, #fff 0);
    }
    55.75%{ 
    background-image: conic-gradient(#ffffff00 55.75%, #fff 0);
    }
    56.0%{ 
    background-image: conic-gradient(#ffffff00 56.0%, #fff 0);
    }
    56.25%{ 
    background-image: conic-gradient(#ffffff00 56.25%, #fff 0);
    }
    56.5%{ 
    background-image: conic-gradient(#ffffff00 56.5%, #fff 0);
    }
    56.75%{ 
    background-image: conic-gradient(#ffffff00 56.75%, #fff 0);
    }
    57.0%{ 
    background-image: conic-gradient(#ffffff00 57.0%, #fff 0);
    }
    57.25%{ 
    background-image: conic-gradient(#ffffff00 57.25%, #fff 0);
    }
    57.5%{ 
    background-image: conic-gradient(#ffffff00 57.5%, #fff 0);
    }
    57.75%{ 
    background-image: conic-gradient(#ffffff00 57.75%, #fff 0);
    }
    58.0%{ 
    background-image: conic-gradient(#ffffff00 58.0%, #fff 0);
    }
    58.25%{ 
    background-image: conic-gradient(#ffffff00 58.25%, #fff 0);
    }
    58.5%{ 
    background-image: conic-gradient(#ffffff00 58.5%, #fff 0);
    }
    58.75%{ 
    background-image: conic-gradient(#ffffff00 58.75%, #fff 0);
    }
    59.0%{ 
    background-image: conic-gradient(#ffffff00 59.0%, #fff 0);
    }
    59.25%{ 
    background-image: conic-gradient(#ffffff00 59.25%, #fff 0);
    }
    59.5%{ 
    background-image: conic-gradient(#ffffff00 59.5%, #fff 0);
    }
    59.75%{ 
    background-image: conic-gradient(#ffffff00 59.75%, #fff 0);
    }
    60.0%{ 
    background-image: conic-gradient(#ffffff00 60.0%, #fff 0);
    }
    60.25%{ 
    background-image: conic-gradient(#ffffff00 60.25%, #fff 0);
    }
    60.5%{ 
    background-image: conic-gradient(#ffffff00 60.5%, #fff 0);
    }
    60.75%{ 
    background-image: conic-gradient(#ffffff00 60.75%, #fff 0);
    }
    61.0%{ 
    background-image: conic-gradient(#ffffff00 61.0%, #fff 0);
    }
    61.25%{ 
    background-image: conic-gradient(#ffffff00 61.25%, #fff 0);
    }
    61.5%{ 
    background-image: conic-gradient(#ffffff00 61.5%, #fff 0);
    }
    61.75%{ 
    background-image: conic-gradient(#ffffff00 61.75%, #fff 0);
    }
    62.0%{ 
    background-image: conic-gradient(#ffffff00 62.0%, #fff 0);
    }
    62.25%{ 
    background-image: conic-gradient(#ffffff00 62.25%, #fff 0);
    }
    62.5%{ 
    background-image: conic-gradient(#ffffff00 62.5%, #fff 0);
    }
    62.75%{ 
    background-image: conic-gradient(#ffffff00 62.75%, #fff 0);
    }
    63.0%{ 
    background-image: conic-gradient(#ffffff00 63.0%, #fff 0);
    }
    63.25%{ 
    background-image: conic-gradient(#ffffff00 63.25%, #fff 0);
    }
    63.5%{ 
    background-image: conic-gradient(#ffffff00 63.5%, #fff 0);
    }
    63.75%{ 
    background-image: conic-gradient(#ffffff00 63.75%, #fff 0);
    }
    64.0%{ 
    background-image: conic-gradient(#ffffff00 64.0%, #fff 0);
    }
    64.25%{ 
    background-image: conic-gradient(#ffffff00 64.25%, #fff 0);
    }
    64.5%{ 
    background-image: conic-gradient(#ffffff00 64.5%, #fff 0);
    }
    64.75%{ 
    background-image: conic-gradient(#ffffff00 64.75%, #fff 0);
    }
    65.0%{ 
    background-image: conic-gradient(#ffffff00 65.0%, #fff 0);
    }
    65.25%{ 
    background-image: conic-gradient(#ffffff00 65.25%, #fff 0);
    }
    65.5%{ 
    background-image: conic-gradient(#ffffff00 65.5%, #fff 0);
    }
    65.75%{ 
    background-image: conic-gradient(#ffffff00 65.75%, #fff 0);
    }
    66.0%{ 
    background-image: conic-gradient(#ffffff00 66.0%, #fff 0);
    }
    66.25%{ 
    background-image: conic-gradient(#ffffff00 66.25%, #fff 0);
    }
    66.5%{ 
    background-image: conic-gradient(#ffffff00 66.5%, #fff 0);
    }
    66.75%{ 
    background-image: conic-gradient(#ffffff00 66.75%, #fff 0);
    }
    67.0%{ 
    background-image: conic-gradient(#ffffff00 67.0%, #fff 0);
    }
    67.25%{ 
    background-image: conic-gradient(#ffffff00 67.25%, #fff 0);
    }
    67.5%{ 
    background-image: conic-gradient(#ffffff00 67.5%, #fff 0);
    }
    67.75%{ 
    background-image: conic-gradient(#ffffff00 67.75%, #fff 0);
    }
    68.0%{ 
    background-image: conic-gradient(#ffffff00 68.0%, #fff 0);
    }
    68.25%{ 
    background-image: conic-gradient(#ffffff00 68.25%, #fff 0);
    }
    68.5%{ 
    background-image: conic-gradient(#ffffff00 68.5%, #fff 0);
    }
    68.75%{ 
    background-image: conic-gradient(#ffffff00 68.75%, #fff 0);
    }
    69.0%{ 
    background-image: conic-gradient(#ffffff00 69.0%, #fff 0);
    }
    69.25%{ 
    background-image: conic-gradient(#ffffff00 69.25%, #fff 0);
    }
    69.5%{ 
    background-image: conic-gradient(#ffffff00 69.5%, #fff 0);
    }
    69.75%{ 
    background-image: conic-gradient(#ffffff00 69.75%, #fff 0);
    }
    70.0%{ 
    background-image: conic-gradient(#ffffff00 70.0%, #fff 0);
    }
    70.25%{ 
    background-image: conic-gradient(#ffffff00 70.25%, #fff 0);
    }
    70.5%{ 
    background-image: conic-gradient(#ffffff00 70.5%, #fff 0);
    }
    70.75%{ 
    background-image: conic-gradient(#ffffff00 70.75%, #fff 0);
    }
    71.0%{ 
    background-image: conic-gradient(#ffffff00 71.0%, #fff 0);
    }
    71.25%{ 
    background-image: conic-gradient(#ffffff00 71.25%, #fff 0);
    }
    71.5%{ 
    background-image: conic-gradient(#ffffff00 71.5%, #fff 0);
    }
    71.75%{ 
    background-image: conic-gradient(#ffffff00 71.75%, #fff 0);
    }
    72.0%{ 
    background-image: conic-gradient(#ffffff00 72.0%, #fff 0);
    }
    72.25%{ 
    background-image: conic-gradient(#ffffff00 72.25%, #fff 0);
    }
    72.5%{ 
    background-image: conic-gradient(#ffffff00 72.5%, #fff 0);
    }
    72.75%{ 
    background-image: conic-gradient(#ffffff00 72.75%, #fff 0);
    }
    73.0%{ 
    background-image: conic-gradient(#ffffff00 73.0%, #fff 0);
    }
    73.25%{ 
    background-image: conic-gradient(#ffffff00 73.25%, #fff 0);
    }
    73.5%{ 
    background-image: conic-gradient(#ffffff00 73.5%, #fff 0);
    }
    73.75%{ 
    background-image: conic-gradient(#ffffff00 73.75%, #fff 0);
    }
    74.0%{ 
    background-image: conic-gradient(#ffffff00 74.0%, #fff 0);
    }
    74.25%{ 
    background-image: conic-gradient(#ffffff00 74.25%, #fff 0);
    }
    74.5%{ 
    background-image: conic-gradient(#ffffff00 74.5%, #fff 0);
    }
    74.75%{ 
    background-image: conic-gradient(#ffffff00 74.75%, #fff 0);
    }
    75.0%{ 
    background-image: conic-gradient(#ffffff00 75.0%, #fff 0);
    }
    75.25%{ 
    background-image: conic-gradient(#ffffff00 75.25%, #fff 0);
    }
    75.5%{ 
    background-image: conic-gradient(#ffffff00 75.5%, #fff 0);
    }
    75.75%{ 
    background-image: conic-gradient(#ffffff00 75.75%, #fff 0);
    }
    76.0%{ 
    background-image: conic-gradient(#ffffff00 76.0%, #fff 0);
    }
    76.25%{ 
    background-image: conic-gradient(#ffffff00 76.25%, #fff 0);
    }
    76.5%{ 
    background-image: conic-gradient(#ffffff00 76.5%, #fff 0);
    }
    76.75%{ 
    background-image: conic-gradient(#ffffff00 76.75%, #fff 0);
    }
    77.0%{ 
    background-image: conic-gradient(#ffffff00 77.0%, #fff 0);
    }
    77.25%{ 
    background-image: conic-gradient(#ffffff00 77.25%, #fff 0);
    }
    77.5%{ 
    background-image: conic-gradient(#ffffff00 77.5%, #fff 0);
    }
    77.75%{ 
    background-image: conic-gradient(#ffffff00 77.75%, #fff 0);
    }
    78.0%{ 
    background-image: conic-gradient(#ffffff00 78.0%, #fff 0);
    }
    78.25%{ 
    background-image: conic-gradient(#ffffff00 78.25%, #fff 0);
    }
    78.5%{ 
    background-image: conic-gradient(#ffffff00 78.5%, #fff 0);
    }
    78.75%{ 
    background-image: conic-gradient(#ffffff00 78.75%, #fff 0);
    }
    79.0%{ 
    background-image: conic-gradient(#ffffff00 79.0%, #fff 0);
    }
    79.25%{ 
    background-image: conic-gradient(#ffffff00 79.25%, #fff 0);
    }
    79.5%{ 
    background-image: conic-gradient(#ffffff00 79.5%, #fff 0);
    }
    79.75%{ 
    background-image: conic-gradient(#ffffff00 79.75%, #fff 0);
    }
    80.0%{ 
    background-image: conic-gradient(#ffffff00 80.0%, #fff 0);
    }
    80.25%{ 
    background-image: conic-gradient(#ffffff00 80.25%, #fff 0);
    }
    80.5%{ 
    background-image: conic-gradient(#ffffff00 80.5%, #fff 0);
    }
    80.75%{ 
    background-image: conic-gradient(#ffffff00 80.75%, #fff 0);
    }
    81.0%{ 
    background-image: conic-gradient(#ffffff00 81.0%, #fff 0);
    }
    81.25%{ 
    background-image: conic-gradient(#ffffff00 81.25%, #fff 0);
    }
    81.5%{ 
    background-image: conic-gradient(#ffffff00 81.5%, #fff 0);
    }
    81.75%{ 
    background-image: conic-gradient(#ffffff00 81.75%, #fff 0);
    }
    82.0%{ 
    background-image: conic-gradient(#ffffff00 82.0%, #fff 0);
    }
    82.25%{ 
    background-image: conic-gradient(#ffffff00 82.25%, #fff 0);
    }
    82.5%{ 
    background-image: conic-gradient(#ffffff00 82.5%, #fff 0);
    }
    82.75%{ 
    background-image: conic-gradient(#ffffff00 82.75%, #fff 0);
    }
    83.0%{ 
    background-image: conic-gradient(#ffffff00 83.0%, #fff 0);
    }
    83.25%{ 
    background-image: conic-gradient(#ffffff00 83.25%, #fff 0);
    }
    83.5%{ 
    background-image: conic-gradient(#ffffff00 83.5%, #fff 0);
    }
    83.75%{ 
    background-image: conic-gradient(#ffffff00 83.75%, #fff 0);
    }
    84.0%{ 
    background-image: conic-gradient(#ffffff00 84.0%, #fff 0);
    }
    84.25%{ 
    background-image: conic-gradient(#ffffff00 84.25%, #fff 0);
    }
    84.5%{ 
    background-image: conic-gradient(#ffffff00 84.5%, #fff 0);
    }
    84.75%{ 
    background-image: conic-gradient(#ffffff00 84.75%, #fff 0);
    }
    85.0%{ 
    background-image: conic-gradient(#ffffff00 85.0%, #fff 0);
    }
    85.25%{ 
    background-image: conic-gradient(#ffffff00 85.25%, #fff 0);
    }
    85.5%{ 
    background-image: conic-gradient(#ffffff00 85.5%, #fff 0);
    }
    85.75%{ 
    background-image: conic-gradient(#ffffff00 85.75%, #fff 0);
    }
    86.0%{ 
    background-image: conic-gradient(#ffffff00 86.0%, #fff 0);
    }
    86.25%{ 
    background-image: conic-gradient(#ffffff00 86.25%, #fff 0);
    }
    86.5%{ 
    background-image: conic-gradient(#ffffff00 86.5%, #fff 0);
    }
    86.75%{ 
    background-image: conic-gradient(#ffffff00 86.75%, #fff 0);
    }
    87.0%{ 
    background-image: conic-gradient(#ffffff00 87.0%, #fff 0);
    }
    87.25%{ 
    background-image: conic-gradient(#ffffff00 87.25%, #fff 0);
    }
    87.5%{ 
    background-image: conic-gradient(#ffffff00 87.5%, #fff 0);
    }
    87.75%{ 
    background-image: conic-gradient(#ffffff00 87.75%, #fff 0);
    }
    88.0%{ 
    background-image: conic-gradient(#ffffff00 88.0%, #fff 0);
    }
    88.25%{ 
    background-image: conic-gradient(#ffffff00 88.25%, #fff 0);
    }
    88.5%{ 
    background-image: conic-gradient(#ffffff00 88.5%, #fff 0);
    }
    88.75%{ 
    background-image: conic-gradient(#ffffff00 88.75%, #fff 0);
    }
    89.0%{ 
    background-image: conic-gradient(#ffffff00 89.0%, #fff 0);
    }
    89.25%{ 
    background-image: conic-gradient(#ffffff00 89.25%, #fff 0);
    }
    89.5%{ 
    background-image: conic-gradient(#ffffff00 89.5%, #fff 0);
    }
    89.75%{ 
    background-image: conic-gradient(#ffffff00 89.75%, #fff 0);
    }
    90.0%{ 
    background-image: conic-gradient(#ffffff00 90.0%, #fff 0);
    }
    90.25%{ 
    background-image: conic-gradient(#ffffff00 90.25%, #fff 0);
    }
    90.5%{ 
    background-image: conic-gradient(#ffffff00 90.5%, #fff 0);
    }
    90.75%{ 
    background-image: conic-gradient(#ffffff00 90.75%, #fff 0);
    }
    91.0%{ 
    background-image: conic-gradient(#ffffff00 91.0%, #fff 0);
    }
    91.25%{ 
    background-image: conic-gradient(#ffffff00 91.25%, #fff 0);
    }
    91.5%{ 
    background-image: conic-gradient(#ffffff00 91.5%, #fff 0);
    }
    91.75%{ 
    background-image: conic-gradient(#ffffff00 91.75%, #fff 0);
    }
    92.0%{ 
    background-image: conic-gradient(#ffffff00 92.0%, #fff 0);
    }
    92.25%{ 
    background-image: conic-gradient(#ffffff00 92.25%, #fff 0);
    }
    92.5%{ 
    background-image: conic-gradient(#ffffff00 92.5%, #fff 0);
    }
    92.75%{ 
    background-image: conic-gradient(#ffffff00 92.75%, #fff 0);
    }
    93.0%{ 
    background-image: conic-gradient(#ffffff00 93.0%, #fff 0);
    }
    93.25%{ 
    background-image: conic-gradient(#ffffff00 93.25%, #fff 0);
    }
    93.5%{ 
    background-image: conic-gradient(#ffffff00 93.5%, #fff 0);
    }
    93.75%{ 
    background-image: conic-gradient(#ffffff00 93.75%, #fff 0);
    }
    94.0%{ 
    background-image: conic-gradient(#ffffff00 94.0%, #fff 0);
    }
    94.25%{ 
    background-image: conic-gradient(#ffffff00 94.25%, #fff 0);
    }
    94.5%{ 
    background-image: conic-gradient(#ffffff00 94.5%, #fff 0);
    }
    94.75%{ 
    background-image: conic-gradient(#ffffff00 94.75%, #fff 0);
    }
    95.0%{ 
    background-image: conic-gradient(#ffffff00 95.0%, #fff 0);
    }
    95.25%{ 
    background-image: conic-gradient(#ffffff00 95.25%, #fff 0);
    }
    95.5%{ 
    background-image: conic-gradient(#ffffff00 95.5%, #fff 0);
    }
    95.75%{ 
    background-image: conic-gradient(#ffffff00 95.75%, #fff 0);
    }
    96.0%{ 
    background-image: conic-gradient(#ffffff00 96.0%, #fff 0);
    }
    96.25%{ 
    background-image: conic-gradient(#ffffff00 96.25%, #fff 0);
    }
    96.5%{ 
    background-image: conic-gradient(#ffffff00 96.5%, #fff 0);
    }
    96.75%{ 
    background-image: conic-gradient(#ffffff00 96.75%, #fff 0);
    }
    97.0%{ 
    background-image: conic-gradient(#ffffff00 97.0%, #fff 0);
    }
    97.25%{ 
    background-image: conic-gradient(#ffffff00 97.25%, #fff 0);
    }
    97.5%{ 
    background-image: conic-gradient(#ffffff00 97.5%, #fff 0);
    }
    97.75%{ 
    background-image: conic-gradient(#ffffff00 97.75%, #fff 0);
    }
    98.0%{ 
    background-image: conic-gradient(#ffffff00 98.0%, #fff 0);
    }
    98.25%{ 
    background-image: conic-gradient(#ffffff00 98.25%, #fff 0);
    }
    98.5%{ 
    background-image: conic-gradient(#ffffff00 98.5%, #fff 0);
    }
    98.75%{ 
    background-image: conic-gradient(#ffffff00 98.75%, #fff 0);
    }
    99.0%{ 
    background-image: conic-gradient(#ffffff00 99.0%, #fff 0);
    }
    99.25%{ 
    background-image: conic-gradient(#ffffff00 99.25%, #fff 0);
    }
    99.5%{ 
    background-image: conic-gradient(#ffffff00 99.5%, #fff 0);
    }
    99.75%{ 
    background-image: conic-gradient(#ffffff00 99.75%, #fff 0);
    }
    100.0%{ 
    background-image: conic-gradient(#ffffff00 100.0%, #fff 0);
    }  
}